<div style="position:fixed; left: 50%; top: 30%; z-index: 1000;">
    <dialog #aoc style="width:400px; margin-left: -200px; height: auto; padding-bottom: 35px; ">
        <div>
            <h3> Change order status </h3>

            <div *ngIf="statusForm">

                <form [formGroup]="statusForm" (ngSubmit)="save()">
                    <table>
                        <tr>
                            <td style="padding-right: 30px;">
                                Order Id:
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-label>Id</mat-label>
                                    <input type="text" matInput formControlName="orderId" placeholder="Id" [readonly]="true">
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-right: 30px;">
                                Order status:
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-label>Order status</mat-label>
                                    <mat-select formControlName="status">
                                        @for (status of statusOptions; track status) {
                                        <mat-option [value]="status">{{ status }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>

                    <div style="position: absolute; bottom:3px; right:70px;  border: 1px dashed green; ">
                        <button style="font-size:large;"> save </button>
                    </div>
                </form>

            </div>

            <div style="position: absolute; bottom:3px; right:3px;  border: 1px dashed green; ">
                <button (click)="aoc.close()" style="font-size:large;"> close </button>
            </div>
        </div>
    </dialog>
</div>