services:
    mongodb:
        image: mongo:latest
        container_name: mongodb
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: mongo
            MONGO_INITDB_ROOT_PASSWORD: mongo
            MONGO_INITDB_DATABASE: Shop
        ports:
            - 27017:27017
        volumes:
            - ./db/mongo/mongorestore.sh:/docker-entrypoint-initdb.d/mongorestore.sh
            - ./db/mongo/Shop:/db-dump
        hostname: mongodb
            
    postgres:
        image: postgres
        container_name: postgres
        environment:
             POSTGRES_USER: shop-app
             POSTGRES_PASSWORD: shop-app
        ports:
            - "5432:5432"
        hostname: postgres
        volumes:
            - ./db/postgres-script.sql:/docker-entrypoint-initdb.d/create_database.sql
            
    angular:
        container_name: frontend
        build:
            context: .
            dockerfile: ./frontend/Dockerfile
        ports:
            - "4200:4200"     
            
    spring:
        container_name: backend
        build:
            context: .
            dockerfile: ./backend/Dockerfile
        ports:
            - "8080:8080"     
        hostname: spring
        depends_on:
            - mongodb
            - postgres
        