<div>
    <h2 routerLink={{createRouteLink(subCategory.label)}} class="links">{{subCategory.label}} </h2>
    <div style="width: 1500px; ">
        <app-sub-sub-category-tab [category]="subCategory" routerLink={{createRouteLink(subCategory.label)}}
            style="float:left; overflow: hidden; background-color: gray;" class="links"></app-sub-sub-category-tab>

        <div style="width: 50px; float:left; overflow: hidden; border: 1px dashed yellowgreen; height:200px">
            <button (click)="changeDisplay(-1)">left</button> </div>

        <div *ngFor="let category of showingCategories">
            <app-sub-sub-category-tab [category]="category" routerLink={{createRouteLink(category.label)}}
                style="float:left; overflow: hidden;" class="links"></app-sub-sub-category-tab>

        </div>
        <div style="width: 50px; float:left; overflow: hidden; border: 1px dashed yellowgreen; height:200px">
            <button (click)="changeDisplay(1)">right</button></div>
    </div>
</div>