<app-filter [name]="filter_price_name" [type]="filter_price_type" [priceFrom]="filters.priceFrom" [priceTo]="filters.priceTo" (priceFromChange)="assignPriceFrom($event)" (priceToChange)="assignPriceTo($event)" (clearSignal)="changeFilters()" #fltr></app-filter>
<app-filter [name]="filter_ratings_name" [type]="filter_ratings_type" [rating]="filters.rating" (ratingChange)="assignRating($event)" (clearSignal)="changeFilters()" #fltr></app-filter>

<div *ngFor="let filter of filters.filters">
    <app-filter [name]="filter.parameterName" [availableOptions]="filter.availableOptions" 
    [type]="filter.filterType" [intMax]="filter.max" 
    (selectedOptionsChange)="assignCustomFilter($event)"
    (clearSignal)="changeFilters()"
    #fltr
    ></app-filter>
</div>

<div>
    <button style="width:100%; height: 60px; font-size: larger;font-weight: bold;" (click)="changeFilters()"> APPLY FILTERS</button>
</div>

<div style="padding-top: 10px;">
    <button style="width:100%; height: 30px; " (click)="clearFilters()"> Clear filters</button>
</div>

