.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  float: left;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

}