
<table style="width: 100%;">
 <div style="width:0%; display: table-cell; border: 1px blue dashed;">
    <app-categories-bar></app-categories-bar>
 </div>

 <div style="display: table-cell; border: 1px green dashed;">
    <app-special-offers></app-special-offers>
 </div>

</table>

<div style="border: 1px red dashed;">
    <app-new-products></app-new-products>
</div>

<div style="border: 1px green dashed;">
    <app-outlet-products></app-outlet-products>
</div>

<div style="border: 1px blue dashed;">
    <app-recently-viewed></app-recently-viewed>
</div>

