
<app-admin-back></app-admin-back>

<div>
  <button>ADD CATEGORY</button>
</div>

<div>
  FILTER BY:
</div>

<div *ngIf="categories">
<table mat-table [dataSource]="categories" >

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let category"> {{category._id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let category"> {{category.label}} </td>
  </ng-container>

    <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let category"> {{category.type}} </td>
  </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let category"> 
    <button (click)="edit(category._id)"> EDIT</button>  
    <button (click)="delete(category._id)"> DELETE</button>  
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
