<h3 style="padding-top: 10px;">Cart</h3>
<div *ngIf="cartProducts.size == 0"> Cart is empty!</div>

<div *ngIf="cartProducts.size != 0" style="width: 1400px;">
<p>1. Products</p> 
<app-cart-product-component *ngFor="let product of cartProducts | keyvalue" [product]="product.key" [ammount]="product.value" (ammountChange)="assignAmmount(product.key, $event)"></app-cart-product-component>
<app-transport-options (transportCost)="getTransportCost($event)"></app-transport-options>
<app-payment-options></app-payment-options>


<div style="float:right; text-align: right;">
    <table>
        <tr>
            <td>Products value:</td>
            <td>{{(cartValue).toFixed(2)}} zł</td>
        </tr>

        <tr>
            <td>Transport value:</td>
            <td>{{transportValue!=null? transportValue : "--"}} zł</td>
        </tr>

        <tr>
            <td>Total value:</td>
            <td>{{ transportValue!=null? (cartValue + transportValue).toFixed(2) : "--"}} zł</td>
        </tr>
    </table>

    <button style="width: 100%; height:50px" [routerLink]="['/cart/order']" (click)="submitOrder()"> Order</button>
</div>

</div>