<div >
    <div style="width: 1500px; ">
        <div style="width: 50px; float:left; overflow: hidden; border: 1px dashed yellowgreen; height:200px">
            <button (click)="changeDisplay(-1)">left</button> </div>

        <div *ngFor="let product of showingProducts">
            <app-recently-viewed-tab [product]="product" routerLink={{createRouteLink(product)}}
                style="float:left; overflow: hidden;"></app-recently-viewed-tab>

        </div>
        <div style="width: 50px; float:left; overflow: hidden; border: 1px dashed yellowgreen; height:200px">
            <button (click)="changeDisplay(1)">right</button></div>
    </div>
</div>