<div *ngIf="product==null && product==undefined">
    <h3>Could not find product "{{productName}}"!</h3>
</div>
<div *ngIf="product!=null && product!=undefined">
    <div style="margin-top: 10px;">
        <b [routerLink]="['/']" class="links">MAIN PAGE > </b>
        <b *ngIf="mainCategoryLabel" routerLink="/categories/{{mainCategoryLabel}}" class="links"> {{mainCategoryLabel}} > </b>
        <b *ngIf="subCategoryLabel" routerLink="/products/{{subCategoryLabel}}" class="links"> {{subCategoryLabel}} </b>
    </div>



    <h3>{{product.name}} </h3>
    <div>
        <app-stars-line [stars]="product.ratingValue" style="float: left;"></app-stars-line>
        <p style="float: left; padding-right: 10px;" (click)="goToRates()" class="links">({{product.ratingValue | number : '1.2-2'}})
            [{{product.ratings!=null? product.ratings.length : 0}} rates]</p>
        <p style="float: left;"> Id: {{product._id}}</p>
    </div>


    <app-rating-add #addR [productId]="product._id" [productName]="product.name" (refreshProduct)="getProduct($event)">
    </app-rating-add>

    <div>

        <div style="clear:both;"></div>

        <div style="width: 800px; height: 600px; border: 1px dashed blue;background-color:lightblue; display: flex;
    justify-content: center; align-items: center; float: left;">
            <div *ngIf="imageToShow" style="width: 100%;height: 100%;">
                <img [src]="imageToShow" width="100%" height="100%">
            </div>

        </div>

        <div style="height: auto; width: 200px; float: left; padding-left: 5px;">

            <div style="border: 1px solid black;">
                <div *ngIf="product.active">
                    <div style="text-align: center;padding-top: 20px;">
                        <h3>{{product.price}} zł</h3>
                    </div>
                    <div>
                        <button style="width: 100%;height: 100px;" (click)="addToCart()"> {{inCart? "Remove from
                            cart":"Add to cart"}}</button>
                    </div>
                </div>

                <div *ngIf="!product.active"> <b>PRODUCT UNAVAILABLE</b></div>

                <div style="padding-top: 5px;">
                    <button style="width: 100%;height: 50px;" (click)="addToWishList()">{{onWishList? "Remove from
                        wish list":"Add to wish list"}}</button>
                </div>
                <div style="padding-top: 5px;">
                    <button style="width: 100%;height: 50px;" (click)="rate()"> Rate </button>
                </div>

            </div>
        </div>

    </div>

    <div style="clear:both;"></div>

    <div>
        <app-product-images-tabs [imagesIds]="product.imagesNames" [productId]="product._id"
            (imageToShow)="showImage($event)"></app-product-images-tabs>
    </div>

    <div style="clear:both;"></div>

    <div style="padding-bottom: 30px; width: 50%;">
        <h3>About product</h3>
        {{product.description}}
    </div>

    <div style="padding-bottom: 30px;">
        <h3>Parameters</h3>
        <table>
            <tr *ngFor="let param of product.params | keyvalue">
                <td style="padding-right: 30px;">
                    {{param.key}}:
                </td>
                <td>
                    {{(param.value == true || param.value == false)? (param.value == true? "yes" : "no") : param.value}}
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-bottom: 30px;">
        <h3>Details</h3>
        (to do)
    </div>


    <div style="padding-bottom: 30px;" id="ratings" *ngIf="product.ratings!=null">
        <h3>Ratings [{{product.ratings.length}}]</h3>
        <div>
            <label for="sortBy">Sort by: </label>
            <select name="sortBy" [(ngModel)]="ratingSelectedSort">
                <option *ngFor="let option of ratingSortOptions" [value]="option">{{option}} </option>
            </select>
        </div>
        <app-rating *ngFor="let rate of product.ratings | ratingSort : ratingSelectedSort : ratingSortOptions"
            [rating]="rate"></app-rating>
    </div>



</div>