<div style="position:fixed; left: 50%; top: 30%; z-index: 1;">
    <dialog #acp style="width:480px; margin-left: -240px; height: auto; padding-bottom: 35px; ">
        <div>
            <h3>Change password</h3>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div>
                    <mat-form-field>
                        <mat-label>Old Password</mat-label>
                        <input type="password" matInput formControlName="oldPassword" placeholder="Password">
                    </mat-form-field>

                    <div>
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input type="password" matInput formControlName="password" placeholder="Password">
                        </mat-form-field>

                        <mat-form-field style="padding-left: 10px;">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="cPassword" placeholder="Confirm Password"
                                [errorStateMatcher]="matcher">
                            <mat-error *ngIf="changePasswordForm.hasError('notSame')">
                                Passwords do not match
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <p style="color: red;"> Note: Changing password will result in logging out!</p>

                <div style="position: absolute; bottom:3px; right:70px;  border: 1px dashed green; ">
                    <button type="submit" style="font-size:large;"> save </button>
                </div>
            </form>
        </div>

        <div style="position: absolute; bottom:3px; right:3px;  border: 1px dashed green; ">
            <button (click)="acp.close()" style="font-size:large;"> close </button>
        </div>

    </dialog>
</div>